Region: <app-dropdown [listItems]="region$ | async" [selectedItem]="selectedRegion?.name"
  (selectChangeEmit)="onRegionChange($event)"></app-dropdown>

<div *ngIf="selectedRegion?.countires.length">
  Country: <app-dropdown [listItems]="selectedRegion?.countires" [selectedItem]="selectedRegion?.countires[0]"
    (selectChangeEmit)="onCountryChange($event)"></app-dropdown>
  <button (click)="showCountryDetails = true;"> Load</button>
</div>

<div *ngIf="selectedCountry && showCountryDetails">
  <app-country-details [country]="selectedCountry"></app-country-details>
</div>
